.warbox{
	max-width:1200px;
	width:100%;
	padding:0px 15px;
	margin: 0 auto;
}
.box {
	width: 100%
}
.box>li {
	width: 100%;
	border-bottom: 1px solid #e9e9e9;
	padding-bottom: 0.3rem;
}
.none{
	display:none;
}
.box>li:nth-child(1) .picture_list {
	display: block
}
.area {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #333333;
    position: relative;
    padding-left: 10px;
    margin-bottom: 10px;
    background: #fff;
    border-bottom: 1px solid #e9e9e9;
    cursor: pointer;
}
.area>.area_title {
	float: left;
    font-size: 18px;
    font-weight: bold;
}
.area>.area_namber {
	font-size: 16px;
    float: right;
    margin-right: 40px;
}
.area .area_img>img {
    width: 20px;
    height: 10px;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.picture_list {
	width: 100%;
	overflow: hidden
}
.picture_list>div {
	width: 50%;
	float: left;
	padding: 0px 3px;
    margin: 0 -3px;
	margin-bottom: 6px;
}
.picture_list>div:nth-child(2n) {
	float: right
}
.container {
	width: 100%;
	position: relative
}
.container>div {
	width: 100%;
	overflow: hidden
}
.container>span {
	width: 100%;
	display: block;
	line-height: 50px;
	text-align: center;
	background: #ccc;
	color: #000;
	font-size: 25px;
	float: left
}
.picture_list {
	width: 100%;
}
.picture_list>div img {
	width: 100%;
	height: 100%	
}
.picture_list>div::nth-child(2n) {
	float: right
}
.fixedbox{
    position: fixed;
    z-index: 999;
    max-width: 1200px;
    width: 100%;
    padding-right: 30px;
}